<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/styles.css') }}>
</head>
<body>
    <div id="container">
        <div id="termsContainer">
            <h2>Terms and Conditions</h2>
            <p>By accessing this website, you agree to abide by all applicable laws and regulations.
Any information provided on this website is for general informational purposes only and should not be construed as professional advice.
We reserve the right to modify or discontinue any part of the website without prior notice.
You agree not to engage in any unauthorized use of the website, including but not limited to hacking or spamming.
All content on this website, including text, images, logos, and graphics, is the property of the website owner and is protected by copyright laws.
Links to third-party websites are provided for your convenience only. We do not endorse or guarantee the accuracy of any third-party content.
Your use of this website is at your own risk. We are not liable for any damages resulting from your use of the website.
By submitting any content to the website, you grant us the right to use, reproduce, and modify that content for any purpose.
We may collect personal information from you in accordance with our Privacy Policy.
These terms and conditions constitute the entire agreement between you and us regarding your use of the website.</p>
        </div>
    </div>
</body>
</html>
